<h1>List of users</h1>

<hr>

<table border="1">
  <tr>

    <th>
      Username
    </th>
     <th>
      Private?
    </th>

    <th></th>
  </tr>

  <% @users.each do |user| %>
  <tr>

    <td>
      <%= user.username %>
    </td>
    <td>

      <%if user.private %>
      Yes
      <%else%>
      No
      <%end%>
    </td>
    <td>

      <%if session.fetch(:user_id) != nil %>
      <form action="/follow">
    <label for="follow_user"></label>
    <button id="follow_user"  type="button"  name="follow_user">Follow</button>
    <%end%>
    </td>

    <td>
      <a href="/users/<%= user.username %>">Show details</a>
    </td>
  </tr>
  
  <% end %>
</table>
